# Ignore node_modules directory
node_modules

# Ignore distribution or build directories
dist/
build/

# Ignore coverage reports
coverage/

# Ignore log files
*.log

# Ignore hidden files and directories
.*

# Ignore specific files
file-to-ignore.js
